<html>
    <body>
        <p>
            Olá <%=nomeJogador%>, você fez login com sucesso! - Perfil: <%=perfil%>
        </p>
        <p id="listaPerguntas">
            Espaço para perguntas
        </p> 
    </body>
    <script>
        //Buscar perguntas
        function buscarPerguntas() {
            teste = "rodando liso"
            console.log(teste)
        }

        buscarPerguntas()
    </script>
</html>