<html>
    <body>
        <h1>Olá <%=nomeJogador%>, você fez login com sucesso! - Perfil: <%=perfil%></h1>

        <hr>

        <div id="listaPerguntas">
            Em construção
        </div> 
    </body>
    <script>
        //Buscar perguntas
        function buscarPerguntas() {
            teste = "rodando liso"
            console.log(teste)
        }

        buscarPerguntas()
    </script>
</html>