<html>
    <head>
        <title>Quest - Login</title>
    </head>
    <body>
        <h1>Quest</h1>
        <h2>Login</h2>
        Login (e-mail): 
        <input type="email" id="email">
        <br><br>
        Senha: 
        <input type="password" id="password">
        <br><br>
        <input type="button" value="Entrar" id="entrarJogador">
        <input type="button" value="Novo Jogador" id="novoJogador">
        <input type="button" value="Esqueci minha senha" onclick="()=>{alert('Por favor cadastre um novo usuário')}">
    
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
        </script>

        </script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">

        <script>
            //Botão 'Entrar'
            const botaoLogar = document.getElementById("entrarJogador")

            chave = null
            sessionStorage.setItem("authorization","")

            async function logar() {
                
                var user = { 
                email: $("#email").val(),
                password: $("#password").val()
            }
                if(!user.email || !user.password) {
                    alert('Por favor preencha o usuário e a senha e tente novamente.')
                } else {
                    $.post('/auth/authenticate', user, async(user) => {
                            //console.log("Teste: ", user.token)
                            chave = "Bearer " + user.token
                            //console.log("Chave Set: ", chave)
                            return chave
                        }, 'json')
                    .fail((erro) => {
                        if (typeof erro !== 'undefined') {
                            console.log("Usuário Autenticado no front com Sucesso, esse é o token: ", user)
                        } else {
                            console.log("Erro durante autenticação no front: ", erro.status, " - ", erro.responseJSON.error)
                            alert("Usuário não encontrado com base no e-mail informado. Por favor revisar e-mail informado antes de tentar novamente.")
                            location.href="/"
                        }
                    }).done(async(retorno) => {
                        //console.log("Chave Pre-set: ", chave)
                        console.log("Usuário Autenticado com Sucesso (done), esse é o token que veio do servidor ;) ==> ", retorno.token)
                        location.href="/jogoV3/"
                    })
                }
            }

            botaoLogar.addEventListener('click', logar)

            //Botão 'Novo Jogador'
            const botaoNovoJogador = document.getElementById("novoJogador")
            async function criaNovoJogador() {
                console.log("Tentei criar novo jogador")
                location.href="/auth/new"
            }
            botaoNovoJogador.addEventListener('click', criaNovoJogador)

        </script>
    </body>
</html>