<html>
    <head></head>
    <body>
        <h1>
            Multiplayer - Exemplo
        </h1>
        <hr>
        <a href="/jogoV3/">Voltar ao Pré-lobby</a>
        <br><br>
        <div>
            EM CONSTRUÇÃO -> Olá Multi XD - Ainda estamos em construção :T
        </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>

    </script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</html>