<html>
    <head>
        <title>Quest - Cadastro</title>
    </head>
    <body>
        <form action=""> 
            <h1>Quest</h1>
            <h2>Cadastro</h2>
            Nome do Jogador: 
            <input type="text" id="nome">
            <br><br>
            Login (e-mail): 
            <input type="email" id="email">
            <br><br>
            Senha: 
            <input type="password" id="password">
            <br><br>
            <input type="submit" value="Criar Jogador">
            <input type="reset" value="Limpar">
            <input type="button" value="Voltar" id="voltar">
        </form>
    </body>
    <%- include('scripts'); %>
    <script>
        const botaoNovoJogador = document.getElementById("voltar")
        botaoNovoJogador.addEventListener('click', voltar)
        function voltar() {
            location.href="/"
        }
    </script>
</html>