<html>
    <body>
        <h1>Olá <%=nomeJogador%>, você fez login com sucesso! - Perfil: <%=perfil%></h1>

        <hr>

        <div id="listaPerguntas">
            <ul>
                <li>
                    <a href="/jogoV3/singleplayer">JOGAR SOZINHO - Apenas para jogadores VIP</a>
                </li>
                <li>
                    <a href="/jogoV3/multiplayer">JOGAR ONLINE - GRÁTIS - Entre 2 e 8 Jogadores</a>
                </li>
                <li>
                    <a onclick="alert('Ainda estamos construindo essa joça, então use e abuse!')">COMPRAR PASSE VIP</a>
                </li>
            </ul>
        </div> 
    </body>
</html>