<html>
    <head></head>
    <body>
        <h1>
            Um Jogador - Exemplo
        </h1>
        <hr>
        <div>
            <a href="/jogoV3/">Voltar ao Pré-lobby</a>
            <h2>
                CATEGORIA DE PERGUNTAS: 
                    <select name="categoria" id="categoriaInicial"></select>
                <button onclick="iniciar()">INICIAR JOGO AGORA ou PRÓXIMA PERGUNTA!</button>
            </h2>
        </div>
        <hr>
        <div>
            <h2>
                PERGUNTAS (JOGO)
            </h2>
            
            <div id="perguntaRodada">
                <strong>Objetivo / Instrução:</strong>&nbsp;Para responder basta clicar na opção desejada.</span>
                <br>
                <strong>Categoria:</strong>&nbsp;<span id="perguntaRodada_categoria"></span>
                <br>
                <strong>Pergunta:</strong>&nbsp;<span id="perguntaRodada_pergunta"></span>
                <br>
                <ul>
                    <li id="ativoA" onclick="respostaValidar('#ativoA')">
                        <strong>Alternativa A:</strong>&nbsp;<span id="perguntaRodada_alternativaA"></span>
                    </li>
                    <li  id="ativoB" onclick="respostaValidar('#ativoB')">
                        <strong>Alternativa B:</strong>&nbsp;<span id="perguntaRodada_alternativaB"></span>
                    </li>
                    <li id="ativoC" onclick="respostaValidar('#ativoC')">
                        <strong>Alternativa C:</strong>&nbsp;<span id="perguntaRodada_alternativaC"></span>
                    </li>
                    <li id="ativoD" onclick="respostaValidar('#ativoD')">
                        <strong>Alternativa D:</strong>&nbsp;<span id="perguntaRodada_alternativaD"></span>
                    </li>
                </ul>
                
                <strong>Dica:</strong>&nbsp;<span id="perguntaRodada_dica"></span>
                <br>
            </div>
        </div>
        <hr>
        <h2>
            TABULEIRO - PLACEHOLDER/EM CONSTRUÇÃO
        </h2>
        <hr>
        <h3>
            DADOS AUXILIARES - SERÃO OCULTOS ou REALOCADOS!
        </h3>
        <small>
            <strong>Nome do Jogador:&nbsp;</strong><%=nomeJogador%>
            <br>

            <strong>Pontuação Desta Rodada:&nbsp;</strong>
            <span id="pontuaçãoRodada"></span>
            <br>

            <strong>Rodada Atual (qtd perguntas respondidas):&nbsp;</strong>
            <span id="atualRodada"></span>
            <br>

            <strong>Data e Hora de Início do Jogo:&nbsp;</strong>
            <span id="dataInicioRodada"></span>
            <br>

            <strong>Data e Hora Atual:&nbsp;</strong>
            <span id="dataAgora"></span>
            <br>

            <strong>Tempo Restante da Rodada Atual:&nbsp;</strong>
            <span id="tempoRodada"></span>

        </small>
            
    </body>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>

    </script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">

    <script>

        //Lista de categorias
        categoriasObjdelta = []

        async function listaDelta(idParaCategoria){

            $.ajax({
                url: "/categoria/categorias",
                type: 'GET',
                success: (resposta) => {
                    for (let i = 0; i < resposta.length; i++) {
                            categoriasObjdelta.push(resposta[i].categoria)
                    }

                    var dropdown = document.getElementById(idParaCategoria);            
                    let opcoesCategorias

                    //console.log("categoriasObjdelta.length: ", categoriasObjdelta.length)

                    if(!categoriasObjdelta.length || categoriasObjdelta.length==0) {
                        console.log("Array vazia!")
                    } else {
                        for (let i = 0; i < categoriasObjdelta.length; i++) {
                            opcoesCategorias = document.createElement('option');
                            opcoesCategorias.text = categoriasObjdelta[i]
                            opcoesCategorias.value =  categoriasObjdelta[i]
                            //console.log("teste", opcoesCategorias)
                            //categoriasObj.push(data[i].categoria)
                            dropdown.add(opcoesCategorias);
                        }
                    }
                    //console.log("Acho que deu certo: ", categoriasObjdelta)
                },
                error: (xhr) => {
                    alert(xhr)
                    //console.log("Não deu certo a exclusão!!: " + xhr.status + " " + xhr.statusText);
                }
            });

        }

        listaDelta("categoriaInicial")

        //Carregar dados básicos
        const valorZerado = "Aguardando Início da partida..."

        var rodada = {
            pontuaçãoRodada: {
                href: document.getElementById("pontuaçãoRodada"),
                valor: null,
                valorInicial: valorZerado
            },
            atualRodada: {
                href: document.getElementById("atualRodada"),
                valor: null,
                valorInicial: valorZerado
            },
            tempoRodada: {
                href: document.getElementById("tempoRodada"),
                valor: null,
                valorInicial: valorZerado
            },
            perguntaRodada: {
                href: document.getElementById("perguntaRodada_pergunta"),
                href_categoria: document.getElementById("perguntaRodada_categoria"),
                href_alternativaA: document.getElementById("perguntaRodada_alternativaA"),
                href_alternativaB: document.getElementById("perguntaRodada_alternativaB"),
                href_alternativaC: document.getElementById("perguntaRodada_alternativaC"),
                href_alternativaD: document.getElementById("perguntaRodada_alternativaD"),
                href_dica: document.getElementById("perguntaRodada_dica"),
                href_respostaCorreta: document.getElementById("perguntaRodada_respostaCorreta"),
                href_info: document.getElementById("perguntaRodada_info"),
                categoria: valorZerado,
                pergunta: valorZerado,
                alternativaA: valorZerado,
                alternativaB: valorZerado,
                alternativaC: valorZerado,
                alternativaD: valorZerado,
                dica: valorZerado,
                respostaCorreta: valorZerado,
                info: valorZerado
            },
            questoes_respondidas: [
                {_id:"000000000000000000000000"}
            ]

        }

        function carregaInicio() {
            $(rodada.perguntaRodada.href_categoria).append(rodada.perguntaRodada.categoria)
            $(rodada.pontuaçãoRodada.href).append(rodada.pontuaçãoRodada.valorInicial)
            $(rodada.atualRodada.href).append(rodada.atualRodada.valorInicial)
            $(rodada.tempoRodada.href).append(rodada.tempoRodada.valorInicial)
            $(rodada.perguntaRodada.href).append(rodada.perguntaRodada.pergunta)
            $(rodada.perguntaRodada.href_alternativaA).append(rodada.perguntaRodada.alternativaA)
            $(rodada.perguntaRodada.href_alternativaB).append(rodada.perguntaRodada.alternativaB)
            $(rodada.perguntaRodada.href_alternativaC).append(rodada.perguntaRodada.alternativaC)
            $(rodada.perguntaRodada.href_alternativaD).append(rodada.perguntaRodada.alternativaD)
            $(rodada.perguntaRodada.href_dica).append(rodada.perguntaRodada.dica)
            $(rodada.perguntaRodada.href_respostaCorreta).append(rodada.perguntaRodada.respostaCorreta)
            $(rodada.perguntaRodada.href_info).append(rodada.perguntaRodada.info)
        }

        carregaInicio()

        function carregaPergunta(pergunta) {
            $(rodada.perguntaRodada.href_categoria).empty()
            $(rodada.perguntaRodada.href_categoria).append(pergunta.categoria)

            $(rodada.perguntaRodada.href).empty()
            $(rodada.perguntaRodada.href).append(pergunta.pergunta)

            $(rodada.perguntaRodada.href_alternativaA).empty()
            $(rodada.perguntaRodada.href_alternativaA).append(pergunta.alternativaA)
            $("#ativoA").attr("res", pergunta.alternativaA)

            $(rodada.perguntaRodada.href_alternativaB).empty()
            $(rodada.perguntaRodada.href_alternativaB).append(pergunta.alternativaB)
            $("#ativoB").attr("res", pergunta.alternativaB)

            $(rodada.perguntaRodada.href_alternativaC).empty()
            $(rodada.perguntaRodada.href_alternativaC).append(pergunta.alternativaC)
            $("#ativoC").attr("res", pergunta.alternativaC)

            $(rodada.perguntaRodada.href_alternativaD).empty()
            $(rodada.perguntaRodada.href_alternativaD).append(pergunta.alternativaD)
            $("#ativoD").attr("res", pergunta.alternativaD)

            $(rodada.perguntaRodada.href_dica).empty()
            $(rodada.perguntaRodada.href_dica).append("Não é um jogador VIP - PENDENTE")
            rodada.perguntaRodada.dica = pergunta.dica

            $(rodada.perguntaRodada.href_respostaCorreta).empty()
            $(rodada.perguntaRodada.href_respostaCorreta).append("Aguardando Jogador responder a pergunta.")
            rodada.perguntaRodada.respostaCorreta = pergunta.respostaCorreta

            $(rodada.perguntaRodada.href_info).empty()
            $(rodada.perguntaRodada.href_info).append("Aguardando Jogador responder a pergunta.")
            rodada.perguntaRodada.info = pergunta.info
        }

        function novapergunta(requisicao){
            $.ajax({
                url: "/jogoV3/pergunta",
                type: 'GET',
                dataType: 'json',
                headers: {
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(requisicao),
                },
                success: function(pergunta) {
                    rodada.questoes_respondidas.push({_id:String(pergunta[0]._id)})
                    carregaPergunta(pergunta[0])
                },
                error: function(xhr) {
                    alert(xhr.responseText)
                }
            });
        }

        function iniciar() {
            requisicao = {
                categoria: $('#categoriaInicial').val(),
                questoes_ja_respondidas: rodada.questoes_respondidas 
            },
            //console.log("Requisição: ", requisicao)
           novapergunta(requisicao)
        }

        function respostaValidar(resposta) {
            resposta = String($(resposta).attr("res"))
            if (resposta == rodada.perguntaRodada.respostaCorreta) {
                alert("CERTA RESPOSTA!")
            } else { 
                res = "RESPOSTA ERRADA! A resposta correta era " + String(rodada.perguntaRodada.respostaCorreta)
                res = res + ". Explicação do Jogo: " + String(rodada.perguntaRodada.info)
                alert(res)
                //console.log("resposta dada: ", resposta)
                //console.log("resposta correta: ", rodada.perguntaRodada.respostaCorreta)
            }

            requisicao = {
                categoria: $('#categoriaInicial').val(),
                questoes_ja_respondidas: rodada.questoes_respondidas 
            }

            novapergunta(requisicao)
        }
    </script>
</html>